@import url(./reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

$main__font-family: "Pretendard";

$main__point-color: #1187e2;
$main__font-color: #464646;

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: center;
  overflow-x: hidden;
}
body {
  position: relative;
  color: $main__font-color;
  font: {
    family: $main__font-family;
    size: 1.6rem;
  }
}

.inner {
  max-width: 1718px;
  margin: 0 auto;
  height: auto;
}

// --------------------menu start----------------------
.hidden {
  display: none;
}
.menu {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  z-index: 99;
  overflow-y: hidden;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
  &__top {
    width: 100%;
    height: 93px;
  }
  &__logo {
    width: 149px;
    height: 69px;
  }
  &__close {
    cursor: pointer;
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    }
  }
  &__content {
    text-align: left;
    .inner {
      display: flex;
      height: calc(100vh - 200px);
    }
  }
  &__list {
    a {
      color: #5b5b5b;
      li {
        margin-top: 40px;
        font-size: 5rem;
        font-weight: 800;
      }
    }
  }
  &__address {
    line-height: 26px;
    &::before {
      content: "";
      display: block;
      width: 145px;
      height: 1px;
      background-color: $main__point-color;
      margin-bottom: 32px;
    }
  }
}
// --------------------menu end----------------------

// --------------------nav start----------------------
.nav {
  width: 100%;
  height: 93px;
  position: fixed;
  background-color: white;
  z-index: 1;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
  &__logo {
    width: 149px;
    height: 69px;
  }
  &__menu {
    cursor: pointer;
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    }
  }
}
.fixed__nav-space {
  width: 100%;
  height: 93px;
}
// --------------------nav end----------------------

// --------------------main start----------------------
.main {
  width: 100%;
  height: 100vh;
  &__title-container {
    .inner {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-bottom: 12rem;
    }
  }
  &__title {
    color: $main__point-color;
    margin-top: 1.6rem;
    font-size: 5.4rem;
    font-weight: 700;
  }
  &__text {
    line-height: 2.6rem;
    margin-top: 2rem;
    width: 51.4rem;
  }
  &__slide {
    width: 100%;
    height: 61.9rem;
    // background-color: $main__point-color;
    border: 0.3rem solid $main__point-color;
    margin-top: 3.7rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
// --------------------main end----------------------

// --------------------vision start----------------------
.vision {
  .inner {
    padding-bottom: 24.1rem;
    height: 100%;
  }
  &__title-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  &__vision {
    font-size: 2rem;
    color: $main__point-color;
    font-weight: 600;
  }
  &__title {
    color: #172b3a;
    margin-top: 1.1rem;
    font-size: 5rem;
    font-weight: 700;
  }
  &__text {
    line-height: 2.6rem;
    margin-top: 1.1rem;
  }
  &__btn {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 20.4rem;
    height: 5rem;
    background-color: $main__point-color;
    border: none;
    color: white;
    font-size: 2rem;
    line-height: 3rem;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    &-container {
      width: 59.8rem;
      height: 34.2rem;
      border-radius: 19.1rem;
      opacity: 0.9;
      line-height: 3rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.26);
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-of-type(1) {
        background-color: white;
        color: $main__font-color;
        position: absolute;
        left: 0;
      }
      &:nth-of-type(2) {
        background-color: #757575;
        color: white;
      }
      &:nth-of-type(3) {
        background-color: #1187e2;
        color: white;
        position: absolute;
        right: 0;
      }
    }
    &-text {
      width: 19rem;
      font-size: 2rem;
      text-align: center;
      font-weight: 300;
    }
  }
}
// --------------------vision end----------------------

// --------------------products start----------------------
.products {
  width: 100%;
  height: 100vh;
  color: white;
  background : {
    image: url(../img/products__bg.png);
    size: cover;
    position: center;
  }
  .inner {
    height: 100%;
    padding-top: 12.7rem;
    padding-bottom: 20.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title-container {
    text-align: left;
  }
  &__products {
    font-size: 2rem;
  }
  &__title {
    font-size: 3.2rem;
    margin-top: 2.3rem;
    font-weight: 600;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-top: 9.4rem;
    max-width: 114.4rem;

    a {
      color: white;
    }
  }
  &__card {
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 26.6rem;
    height: 21rem;
    border: 0.2rem solid white;
    border-radius: 0 2.5rem 0 2.5rem;
    display: flex;
    padding: 2.4rem;
    justify-content: space-between;
    &-text {
      text-align: left;
    }
    &-title {
      font-size: 2.2rem;
    }
    &-detail {
      margin-top: 1rem;
    }
    &-icon {
      align-self: flex-end;
      img {
        width: 6.5rem;
        height: auto;
      }
    }
  }
}
// --------------------products end----------------------

// --------------------footer start----------------------
.footer {
  width: 100%;
  height: 54.3rem;
  color: white;
  background-color: $main__point-color;
  .inner {
    padding: 10rem 0;
  }
  &__title {
    font-size: 5.4rem;
    line-height: 7.8rem;
    font-weight: 700;
    text-align: left;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &-left {
      line-height: 2.4rem;
      text-align: left;
    }

    &-right {
      line-height: 3.8rem;
      text-align: right;
      display: flex;
      align-items: flex-end;
      &--menu {
        margin-right: 14.7rem;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
// --------------------footer end----------------------

// --------------------about page start------------------
.about {
  width: 100%;
  height: 100%;
  .inner {
    max-width: 152rem;
    padding: 5.5rem 0 11.5rem 0;
  }
  &__title {
    text-align: left;
    &-top {
      font-size: 2rem;
      color: $main__point-color;
      font-weight: 700;
    }
    &-bottom {
      font-size: 5rem;
      color: #172b3a;
      font-weight: 700;
      margin-top: 0.5rem;
    }
  }
  &__img {
    background-image: url(../img/about__img.png);
    width: 152rem;
    height: 42.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    &-text {
      font-size: 5.2rem;
      color: #ffffff;
      line-height: 7.8rem;
      font-weight: 700;
      width: 47rem;
    }
  }
  &__text {
    margin-top: 5.6rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: left;
    max-width: 119.7rem;
  }
}

.blue__point {
  color: #3e9ce6;
  font-weight: 600;
}
// ---------------------about page end------------------

// --------------------product page start----------------------
.product__page {
  width: 100%;
  height: 100%;
  .inner {
    max-width: 152rem;
    padding-bottom: 18rem;
  }
  &-title {
    color: #172b3a;
    &--top {
      font-size: 3.2rem;
      font-weight: 700;
    }
    &--bottom {
      margin-top: 1.8rem;
    }
  }
  &-menu {
    margin-top: 5.9rem;
  }
}

.tabmenu {
  display: flex;
  text-align: center;
  justify-content: center;

  li {
    font-size: 1.6rem;
    color: #8d8c8c;
    margin-right: 3rem;
    cursor: pointer;
    &::after {
      content: "\00B7";
      margin-left: 3rem;
    }
    &:last-child::after {
      display: none;
    }
  }
}
.tabmenu__wrapper {
  margin-top: 5rem;
  .card-wrapper {
    a {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      color: white;
      text-decoration: none;
    }
    &:hover .card-text {
      display: flex;
      flex-direction: column;
      z-index: 2;
      padding: 4.5rem;
      text-align: right;
      & p:nth-child(1) {
        font-size: 2.4rem;
        font-weight: 600;
      }
      & p:nth-child(2) {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: 0.3rem;
      }
      & p:nth-child(3) {
        font-size: 1.5rem;
        margin-top: 1.9rem;
        font-weight: 300;
      }
    }
    &:hover .card-filter {
      width: 36.5rem;
      height: 36.5rem;
      background-color: #000000ab;
      z-index: 1;
      position: absolute;
    }
  }
  img {
    width: 36.5rem;
    height: 36.5rem;
  }
  .card-text {
    display: none;
    position: absolute;
  }
  .tabmenu__wrap {
    // display: flex;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .active {
    display: flex;
  }
}
.selected {
  font-weight: 600;
  color: black;
}
// --------------------product page end----------------------

// --------------------product__detail start--------------------
.product__detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.product__detail-img {
  width: 47.9rem;
  height: 42rem;
  margin-right: 23.4rem;
}
.product__detail-text {
  &--top {
    font-size: 1.9rem;
    color: #949494;
  }
  &--bottom {
    font-size: 5rem;
    margin-top: 0.4rem;
    color: #333333;
    font-weight: 700;
  }
}
.product__detail-content {
  font-size: 2rem;
  margin-top: 6.1rem;
  line-height: 4rem;
  color: #2a2a2a;
}
.product__detail-list {
  text-align: left;
  margin-top: 15.2rem;
  font-size: 1.8rem;
  line-height: 3rem;
  .detail__title {
    font-size: 3.4rem;
    color: #172b3a;
    font-weight: 700;
  }
  .detail__subtitle {
    margin-top: 4.7rem;
    font-size: 2rem;
    font-weight: 700;
  }
}
// --------------------product__detail end--------------------

// ---------------------notice start-----------------------
.notice {
  width: 100vw;
  height: 100%;
  .inner {
    padding-bottom: 15rem;
    max-width: 152rem;
  }
  .subpage__title {
    font-size: 1.8rem;
    color: #172b3a;
    font-weight: 700;
  }
  .subtitle {
    font-size: 4.1rem;
    margin-top: 0.5rem;
    color: #172b3a;
    font-weight: 700;
  }
}
table.board-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 14.2rem;
  font-size: 1.8rem;
  width: 100%;
  border-top: 0.1rem solid #707070;
}
section.notice {
  padding: 8rem 0;
}

.board-table a {
  color: #707070;
  display: inline-block;
  line-height: 1.4rem;
  word-break: break-all;
  vertical-align: middle;
}

.board-table thead {
  font-weight: 500;
  height: 4.3rem;
}
.board-table thead th {
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 10rem;
  text-align: center;
}

.board-table .th-date {
  width: 20rem;
}

.board-table td {
  padding: 2.5rem 0;
}

.board-table tbody {
  border-bottom: 0.1rem solid #707070;
}
.board-table tbody td {
  border-top: 0.1rem solid #707070;
  color: #7b7b7b;
  font-weight: 400;
  text-align: center;
}

.board-table tbody th {
  padding-left: 2.8rem;
  padding-right: 1.4rem;
  border-top: 0.1rem solid #707070;
  text-align: left;
  color: #393939;
}

.board-table tbody th p {
  display: none;
}
.foot {
  margin-top: 6.3rem;
  font-size: 2rem;
  td {
    width: 100%;
    text-align: center;
  }
  a {
    margin-right: 3.2rem;
    text-decoration: none;
    color: #9e9e9e;
    font-weight: 500;
  }
  a.txt_point {
    text-decoration: underline;
    color: black;
  }
  .arrow {
    color: #9e9e9e;
  }
}
// ---------------------notice end-----------------------

//------------------------contact start-------------------------
.contact__nav {
  width: 100%;
  height: 9.3rem;
  position: fixed;
  background-color: transparent;
  z-index: 1;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
  }
  &__logo {
    width: 14.9rem;
    height: 6.9rem;
  }
  &__menu {
    cursor: pointer;
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    }
  }
}
.contact {
  background-color: #f0f9ff;
  .inner {
    padding: 9.6rem 0;
    max-width: 152rem;
  }
  &__title {
    text-align: left;
    font-size: 3.8rem;
    line-height: 6rem;
    width: 88.5rem;
    font-weight: 700;
  }
  &__info {
    margin-top: 7.5rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  &__us {
    margin-right: 20.7rem;
    &-01 {
      font-size: 2.2rem;
      font-weight: 700;
      color: #172b3a;
    }
    &-02 {
      margin-top: 1.8rem;
      font-size: 1.8rem;
      color: #393939;
      font-weight: 700;
    }
    &-03 {
      margin-top: 1.8rem;
      font-size: 1.6rem;
      line-height: 2.7rem;
      color: #5e5e5e;
    }
    &::before {
      content: "ㅡ";
      color: $main__point-color;
      font-size: 5rem;
    }
  }
  .about__us {
    &-01 {
      font-size: 2.2rem;
      font-weight: 700;
      color: #172b3a;
    }
    &-02 {
      margin-top: 1.8rem;
      font-size: 1.6rem;
      line-height: 2.7rem;
      color: #5e5e5e;
    }
    &::before {
      content: "ㅡ";
      color: $main__point-color;
      font-size: 5rem;
    }
  }
  hr {
    border: 0;
    height: 0.1rem;
    background-color: $main__point-color;
    margin-top: 5.6rem;
  }
  &__box {
    margin-top: 5.6rem;
    width: 100%;
    height: 58.9rem;
    border: 0.1rem solid $main__point-color;
    background-color: white;
  }
}
//------------------------contact end-------------------------
